<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${title}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>

</head>

<body>
<th:block th:include="_menu"></th:block>


<div class="container w-50 px-2">
    <h1>
        Registration
    </h1>
    <div th:if="${info !=null}" style="color:red;margin:10px 0px;">
        Registration Failed!!!<br />
        Reason :  <label th:text="${info}"/>
    </div>
    <main class="form-signin">
        <form action="/registration"  style="border: red">
            <h1 class="h3 mb-3 fw-normal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Please enter data :</font></font></h1>

            <div class="form-floating m-2">
                <input type="text" class="form-control" id="floatingInput" name="name" value="" placeholder="name@example.com">
                <label for="floatingInput"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">User login</font></font></label>
            </div>
            <div class="form-floating m-2">
                <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Password</font></font></label>
            </div>
            <div class="form-floating m-2">
                <input type="password" name="repaetpassword" class="form-control" id="floatingPassword2" placeholder="Repeat password">
                <label for="floatingPassword"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Repeat password</font></font></label>
            </div>

            <div class="row p-1">
                <div class="col-6">
                    <button class="w-100 btn btn-lg btn-primary" type="button" name="back" onclick="window.location.href = 'login'"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Back</font></font></button>
                </div>
                <div class="col-6">
                    <button class="w-100 btn btn-lg btn-primary" name="submit" type="submit" value="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Registration</font></font></button>
                </div>
            </div>

        </form>
    </main>

</div>

</body>
</html>